name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags: [ v** ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '30 12 * * 0'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  reuse:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Licensing (REUSE)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: fsfe/reuse-action@v6

  typos:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Spelling (typos)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: crate-ci/typos@master

  ruff:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Linting (ruff)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: extractions/setup-just@v3
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: '.ci/requirements-test.txt'
    - name: Main Script
      run: |
        just ci-install .venv && source .venv/bin/activate
        just ruff

  ty:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Annotations (ty)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: extractions/setup-just@v3
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: '.ci/requirements-test.txt'
    - name: Main Script
      run: |
        just ci-install .venv && source .venv/bin/activate
        just ty

  pytest:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Tests (pytest-${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: extractions/setup-just@v3
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: '.ci/requirements-test.txt'
    - name: Main Script
      run: |
        just ci-install .venv && source .venv/bin/activate
        just test

  examples:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Examples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: extractions/setup-just@v3
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: '.ci/requirements-test.txt'
    - name: Main Script
      run: |
        just ci-install .venv && source .venv/bin/activate
        just examples

  deploy:
    needs: [reuse, typos, ruff, ty, pytest, examples]
    name: PyPI deploy
    environment: pypi
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - id: dist
      uses: casperdcl/deploy-pypi@v2
      with:
        build: true
        upload: false
    - if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

# vim: set ts=2 sw=2 et:
